h1{
  margin-bottom: 0;
}

.title{
  margin-bottom: 20px;
  text-align: center;
}

.developer-photo{
  width: 80px;
  height: 80px;
}

.developers{
  display: flex;
  justify-content: space-between;;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 20px;
}

.developer-info{
  width: 100%;
  height: 200px;
}

input[type='number'], input[type='text']{
  width: auto;
}

@media (max-width: 40rem) {
  .developer-photo{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    margin-bottom: 20px;
  }

  .developers{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

.loader{
  display: flex;
  justify-content: center;
}

.coupon{
  padding: 10px;
}
