<section ng-controller="CheckoutController as checkout">
  <section>
    <h3>
      One more step to get your developers!
      <small>confirmation</small>
    </h3>
    <article class="developers" ng-repeat="user in checkout.cart.items">
      <strong>
        <span ng-bind="user.name"></span>
      </strong>
      <small ng-bind="user.login"></small>
      <span ng-bind="(user.total | currency)"></span>
      <span ng-bind="user.hoursToWork"></span>
    </article>
    <button class="button button-outline" ng-click="checkout.removeFromCart(user)">
      <i class=""></i>
      Finish
    </button>
  </section>
</section>
