<section ng-controller="CheckoutController as checkout">
  <section>
    <h3>
      Thank you! Your order was received
    </h3>
    <span>Order details below:</span>
    <article class="developers" ng-repeat="user in checkout.cart.items">
      <strong>
        <span ng-bind="user.name"></span>
      </strong>
      <small ng-bind="user.login"></small>
      <span ng-bind="(user.total | currency)"></span>
      <span ng-bind="user.hoursToWork"></span>
    </article>
  </section>

  <hr>

  <section class="float-right">
    <article>
      <p>
        <i ng-show="checkout.cart.discount">
          Coupon discount:
          <small ng-bind="(checkout.cart.discount | currency)"></small>
        </i>
      </p>
      <p>
        <strong>
          Total:
          <small ng-bind="(checkout.total | currency)"></small>
        </strong>
      </p>
    </article>
  </section>
</section>
